[Unit]
Description=User restart power manager
After=suspend.target

[Service]
User=%I
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/sleep 1 ; /usr/bin/xfce4-power-manager --restart

[Install]
WantedBy=suspend.target